

body{
    text-align: center;
    background-color: antiquewhite;
    color: black;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    color: black;

}

.container{
    text-align: center;
    padding-top: 30px;
    width: 520px;
    margin: 0 auto;

}



